{% load static %}
<html>
    <head>
        <link rel = "stylesheet" type="text/css" href = "{% static 'rooms/media/css/404.css' %}">
        <link rel = "shortcut icon" type = "image/jpg" href = "{% static 'rooms/media/web_icon.jpg' %}">
        <title>404</title>
    </head>
    
    <body>
        <div class = "intro_image">
            <img src = "{% static 'rooms/media/fire.jpg' %}" alt = "">
        </div>

        <div class = "intro_title">
            <span class = "title">
                404
            </span>
        </div>

        <span class="info">
            <p> Look like you're lost </p>

            <a href="/" class="link_404"> Go home </a>
        </span>
    </body>
</html>