{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" type="text/css" href = "{% static 'rooms/media/css/about.css' %}">
        <title>About</title>
    </head>

    <body>
            <div class = "intro">
                <div class = "intro_image">
                    <img src = "{% static 'rooms/media/about_us_main.jpg' %}" alt = "">
                </div>
    
                <div class = "intro_title">
                    <span class = "title">
                        ABOUT
                    </span>
                </div>
    
                <div class = "intro_bar">
    
                    <!-- регистрация -->
                    <div class = "intro_login">
                        <span class = "login">
                            <a href = "/login"> Login </a>
                        </span>                    
                    </div>
    
                    <!-- навигация -->
                    <div class = "intro_navigation">
                        <ul>
                            <li> <a href = "/rooms/winter_palace" > Winter Palace </a> </li>
                            <li> <a href = "/rooms/new_hermitage" > New Hermitage </a> </li>
                            <li> <a href = "/rooms/old_hermitage" > Old Hermitage </a> </li>
                            <li> <a href = "/about" > About </a> </li>
                            <li> <a href = "/contacts" > Contacts </a> </li>
                        </ul>
                    </div>
    
                    <!-- поиск -->
                    <div class = "intro_search">
                        <div class = "search_box">
                            <button class = "btn_search"></button>
                            <input class = "input_search" placeholder = " Type to search...">
                        </div>
                    </div>
                </div>

                <div id = "arrow"> <br>SCROLL<br> </div>
            </div>
            
            <!-- WINTER PALACE -->
            <section>
                <div class = "shadow"></div>
    
                <div class = "container_wrapper_winter">
                    <div class = "container_winter">
                        <div class = "title_and_text_wrapper">
                            <div class = "title_wrapper">
                                <span class = "title_winter_palace">
                                    WINTER PALACE
                                </span>
                            </div>
    
                            <div class = "line_hor"></div>
                            
                            <div class = "text_wrapper">
                                <div class = "line_ver"></div>
    
                                <span class = "text_winter_palace">
                                    The Winter Palace in St. Petersburg is a magnificent architectural monument that has stood for centuries 
                                    as the residence of the Russian rulers. It was built in the 18th century 
                                    by the architect Bartolomeo Rastrelli and has since been used as a palace, museum, and venue 
                                    for various events. During the 20th century, the palace was used as a prison and a military base, 
                                    but in 1992 it was returned to its former glory as a cultural and tourist attraction. Today, 
                                    it is one of the most visited tourist destinations in Russia, attracting millions of visitors 
                                    from all over the world.
                                </span>
                            </div>
                        </div>
                        <div class = "image_container">
                            <img src = "{% static 'rooms/media/winter_palace.jpg' %}" class = "image" alt = "">
                        </div>
                    </div>

                </div>
            </section>
            
            <!-- NEW HERMITAGE -->
            <section>
                <div class = "container_wrapper_new">
                    <div class = "container_new">
                        <div class = "image_container">
                            <img src = "{% static 'rooms/media/new_hermitage_1.jpg' %}" class = "image" alt = "">
                        </div>
    
                        <div class = "title_and_text_wrapper">
                            <div class = "title_wrapper">
                                <span class = "title_new_hermitage">
                                    NEW HERMITAGE
                                </span>
                            </div>
    
                            <div class = "line_hor_new"></div>
                            
                            <div class = "text_wrapper">
                                <div class = "line_ver_new"></div>
    
                                <span class = "text_new_hermitage">
                                        The New Hermitage Museum was opened in Saint Petersburg, Russia, on December 17, 2019. 
                                        The museum is a joint project of the Hermitage Foundation and the St. Petersburg State Museum Institution. 
                                        It houses more than 300,000 items, including paintings, sculptures, furniture, and decorative arts. 
                                        The New Hermitage is located in the historical building of the former Winter Palace, 
                                        which was rebuilt and renovated to house the museum. The museum offers a variety of exhibitions, 
                                        educational programs, and cultural events for visitors of all ages.
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
    
            <!-- OLD HERMITAGE -->
            <section>
                <div class = "container_wrapper_winter">
                    <div class = "container_winter">
                        <div class = "title_and_text_wrapper">
                            <div class = "title_wrapper_old">
                                <span class = "title_old_hermitage">
                                    OLD HERMITAGE
                                </span>
                            </div>
    
                            <div class = "line_hor_old"></div>
                            
                            <div class = "text_wrapper">
                                <div class = "line_ver_old"></div>
    
                                <span class = "text_old_hermitage">
                                    The Old Hermitage Museum was founded in St. Petersburg in 1815 and has since become one of
                                    the oldest and most important museums in Russia. The collection of the museum includes paintings,
                                    sculptures, artifacts, and more from various cultures and eras. During World War II, the museum
                                    suffered significant damage from bombing and fire, but the collection was saved and preserved.
                                    Today, the museum continues to attract millions of visitors from around the world and
                                    offers a variety of educational programs and exhibitions.
                                </span>
                            </div>
                        </div>

                        <div class = "image_container">
                            <img src = "{% static 'rooms/media/old_hermitage_2.jpg' %}" class = "image_old" alt = "">
                        </div>
    
                    </div>
                </div>
                
            </section>
    
            <!-- ABOUT US -->
            <section>
                <div class = "container_company">
    
    
                    <span class = "text_company">
                        <span class = "title_company">
                            ABOUT US
                        </span>

                        <div class = "line_wrapper">
                            <div class = "line_about_us"></div>
                        </div>

                        <p></p>
                        Hermitage Guide is a company that specializes in creating audio guides for the paintings of the Hermitage Museum
                        in Saint Petersburg. The company was founded in 2023 and has since become one of the leaders in this field.
                        Hermitage Guide offers its customers high-quality audio guides that help them better understand and enjoy the works of
                        art displayed at the Hermitage. The company partners with professional guides and experts who provide information about
                        each work of art, helping visitors better understand its history and significance. The Hermitage Guide company strives to provide
                        its customers with a unique experience of visiting the Hermitage that will be memorable and interesting. They do everything
                        possible to ensure their customers with high-quality information and create an unforgettable experience from visiting this
                        beautiful museum. 
                    </span>
                </div>
            </section>

            <!-- <script src = "{% static 'rooms/media/js/about.js' %}"></script> -->
            <script>
                const section = document.querySelector("section");

const title_winter_palace = document.querySelector(".title_winter_palace");
const text_winter_palace = document.querySelector(".text_winter_palace");
const line_hor = document.querySelector(".line_hor");
const line_ver = document.querySelector(".line_ver");

const title_new_hermitage = document.querySelector(".title_new_hermitage");
const text_new_hermitage = document.querySelector(".text_new_hermitage");
const line_hor_new = document.querySelector(".line_hor_new");
const line_ver_new = document.querySelector(".line_ver_new");

const title_old_hermitage = document.querySelector(".title_old_hermitage");
const text_old_hermitage = document.querySelector(".text_old_hermitage");
const line_hor_old = document.querySelector(".line_hor_old");
const line_ver_old = document.querySelector(".line_ver_old");

const title = document.querySelector(".title");
const intro = document.querySelector(".intro");

const shadow = document.querySelector(".shadow");

let intro_height = intro.offsetHeight;
let section_height = section.offsetHeight;

const login = document.querySelector(".login");
const intro_login = document.querySelector(".intro_login");

const intro_navigation_a = document.querySelectorAll(".intro_navigation ul li a");
const intro_navigation_ul_li = document.querySelectorAll(".intro_navigation ul li");

const input_search = document.querySelector(".input_search");
const btn_search = document.querySelector(".btn_search");

const image_win = document.querySelector(".container_winter .image_container .image");
const image_new = document.querySelector(".container_new .image_container .image");
const image_old = document.querySelector(".image_old");

const arrows = document.getElementById("arrow");

const line_comp = document.querySelector(".line_about_us");

window.addEventListener('scroll', () => {
    let scroll = window.pageYOffset;
    let sectionY = section.getBoundingClientRect();

    console.log("scroll", scroll)
    console.log("sectionY.top", sectionY.top)
    console.log("(scroll - 1936) / (section_height + sectionY.top + 1936) * 200 - 200", (scroll - 1936) / (section_height + sectionY.top + 1936) * 200 - 200)
    

//--------WINTER PALACE--------//
    // if (scroll / (section_height + sectionY.top) * 200 - 200 <= 0)
    //     {
    //         title_winter_palace.style.transform = `translateY(${scroll / (section_height + sectionY.top) * 200 - 200}px)`; // надпись WINTER PALACE двигается вниз
            
    //         line_hor.style.width = `${scroll / (sectionY.top + section_height) * 587}px`; // горизонтальная линия WINTER PALACE двигается вправо
    //         // line_ver.style.backgroundColor = "#151515"; //темный
    //     }

    if (scroll / (section_height + sectionY.top) * -200 + 200 >= 0)
        text_winter_palace.style.transform = `translateY(${scroll / (section_height + sectionY.top) * -200 + 220}px)`; // текст WINTER PALACE двигается вверх

    // вертикальная линия WINTER PALACE двигается вниз
    // if (scroll >= 968 && scroll <= 1666)
    //     {
    //         line_ver.style.height = `${(scroll - 968) / (sectionY.top + section_height) * 100}%`;
    //         line_ver.style.backgroundColor = "#c4c4c4"; //светлый
    //     }

//--------NEW HERMITAGE--------//
    if ((scroll - 968) / (section_height + sectionY.top + 968) * 190 - 170 >= -180 && (scroll - 968) / (section_height + sectionY.top + 968) * 190 - 170 <= 9)
        {
            title_new_hermitage.style.transform = `translateY(${(scroll - 968) / (section_height + sectionY.top + 968) * 190 - 170}px)`; // надпись NEW HERMITAGE двигается вниз

            line_hor_new.style.width = `${(scroll - 968) / (sectionY.top + section_height + 968) * 590}px`; // горизонтальная линия NEW HERMITAGE двигается влево
            // line_ver_new.style.backgroundColor = "#151515";
        }

    if ((scroll - 968) / (section_height + sectionY.top + 968) * 190 - 170 >= -180 && (scroll - 968) / (section_height + sectionY.top + 968) * 190 - 170 <= 15)
        text_new_hermitage.style.transform = `translateY(${(scroll - 968) / (section_height + sectionY.top + 968) * -180 + 170}px)`; // текст NEW HERMITAGE двигается вверх

    // вертикальная линия NEW HERMITAGE двигается вниз
    // if (scroll >= 1938 && scroll <= 2632)
    //     {
    //         line_ver_new.style.height = `${(scroll - 1936) / (sectionY.top + section_height + 968) * 100}%`;
    //         line_ver_new.style.backgroundColor = "#c4c4c4";
    //     }

//--------OLD HERMITAGE--------//
    if ((scroll - 1936) / (section_height + sectionY.top + 1936) * 200 - 200 >= -220 && (scroll - 1936) / (section_height + sectionY.top + 1936) * 200 - 200 <= -44)
        {
            title_old_hermitage.style.transform = `translateY(${(scroll - 1936) / (section_height + sectionY.top + 1936) * 255 - 200}px)`; // надпись OLD HERMITAGE двигается вниз

            line_hor_old.style.width = `${(scroll - 1936) / (sectionY.top + section_height + 1936) * 725}px`; // горизонтальная линия OLD HERMITAGE двигается влево
            // line_ver_old.style.backgroundColor = "#151515";
        }

    if ((scroll - 1936) / (section_height + sectionY.top + 1936) * 200 - 200 >= -220 && (scroll - 1936) / (section_height + sectionY.top + 1936) * 200 - 200 <= -45)
        text_old_hermitage.style.transform = `translateY(${(scroll - 1936) / (section_height + sectionY.top + 1936) * -200 + 200}px)`; // текст OLD HERMITAGE двигается вверх

    // вертикальная линия OLD HERMITAGE двигается вниз
    // if (scroll >= 2904 && scroll <= 3546)
    //     {
    //         line_ver_old.style.height = `${(scroll - 2904) / (sectionY.top + section_height + 1936) * 100}%`;
    //         line_ver_old.style.backgroundColor = "#c4c4c4";

    //         line_comp.style.borderBottomColor = "#151515";
    //     }

    // горизонтальная линия ABOUT US двигается влево
    // if (scroll >= 3546)
    //     {
    //         line_comp.style.width = `${(scroll - 3546) / (sectionY.top + section_height + 3546) * 3400}px`;
    //         line_comp.style.borderBottomColor = "#c4c4c4";
    //     }
        
    // изменение цвета меню в зависимости от фонового цвета
    if (scroll >= 345)
        {
            login.style.color = "#e5e5e5";
            intro_login.style.setProperty("--color_border", "#e5e5e5");

            intro_navigation_a.forEach(element => {
                element.style.color = "#e5e5e5";
            });

            intro_navigation_ul_li.forEach(element => {
                element.style.setProperty("--color_border", "#e5e5e5");
            });

            input_search.style.setProperty("--color_border", "#e5e5e5");
            btn_search.style.setProperty("--color_border", "#e5e5e5");
        }
    else
        {
            login.style.color = "#151515";
            intro_login.style.setProperty("--color_border", "#151515");

            intro_navigation_a.forEach(element => {
                element.style.color = "#151515";
            });

              intro_navigation_ul_li.forEach(element => {
                element.style.setProperty("--color_border", "#151515");
            });

            input_search.style.setProperty("--color_border", "#151515");
            btn_search.style.setProperty("--color_border", "#151515");
        }

    // затемнение (то есть появление) элементов при прокрутке
    title_winter_palace.style.opacity = scroll / (sectionY.top + section_height);
    text_winter_palace.style.opacity = scroll / (sectionY.top + section_height);
    image_win.style.opacity = scroll / (sectionY.top + section_height);

    title_new_hermitage.style.opacity = (scroll - 968) / (sectionY.top + section_height + 968);
    text_new_hermitage.style.opacity = (scroll - 968) / (sectionY.top + section_height + 968);
    image_new.style.opacity = (scroll - 968) / (sectionY.top + section_height + 968);


    title_old_hermitage.style.opacity = (scroll - 1936) / (sectionY.top + section_height + 1936);
    text_old_hermitage.style.opacity = (scroll - 1936) / (sectionY.top + section_height + 1936);
    image_old.style.opacity = (scroll - 1936) / (sectionY.top + section_height + 1936);

    title.style.opacity = - scroll / (intro_height / 4) + 1;
    shadow.style.height = `${scroll * 0.5 + 330}px`;

    // появление стрелочек в зависимости от значения скролла
    if (scroll < 100)
        {
            arrows.style.setProperty("--arrow_up", "0");
            arrows.style.setProperty("--arrow_down", "100");
        }
    else if (scroll >= 100 && scroll <= (document.body.scrollHeight - document.body.clientHeight - 50))
        {
            arrows.style.setProperty("--arrow_up", "100");
            arrows.style.setProperty("--arrow_down", "100");            
        }
    else if (scroll >= (document.body.scrollHeight - document.body.clientHeight - 50))
        {
            arrows.style.setProperty("--arrow_up", "100");
            arrows.style.setProperty("--arrow_down", "0");            
        } 
})

// скрытие и появление меню в зависимости от прокрутки вверх или вниз
var prevScrollpos = window.pageYOffset;

window.onscroll = function()
    {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos)
            document.querySelector(".intro_bar").style.top = "0";
        else
            document.querySelector(".intro_bar").style.top = "-70px";
        prevScrollpos = currentScrollPos;
    }
            </script>
    </body>
</html>
