*
    {
        box-sizing: border-box;
    }

body
    {
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        filter: brightness(100%);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

section
    {   
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -10;
    }

/***************  основа  ***************/
.container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 50%;
        height: 100%;
        padding-left: 8%;
        z-index: 2;
        background-color: #f1f6fa;
        animation: body 4s 1;
    }

.frame_up
    {
        width: 100%;
        height: 12%;
        top: 0px;
        background-color: #f1f6fa;
        z-index: 1;
        position: absolute;
        animation: body 4s 1;
    }

.frame_down
    {
        width: 100%;
        height: 10%;
        bottom: 0px;
        background-color: #f1f6fa;
        z-index: 1;
        position: absolute;
        animation: body 4s 1;
    }

.frame_right
    {
        width: 7%;
        height: 100%;
        right: 0px;
        background-color: #f1f6fa;
        z-index: 0;
        position: absolute;
        animation: body 4s 1;
    }

/***************  заголовок  ***************/  
.intro_title 
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        height: 60%;
        top: 0px;
        margin-left: 8%;
        z-index: 201;
    }

.title
    {
        padding-bottom: 10px;
        margin: 0;
        color: #151515;
        opacity: 100%;
        font-size: 60px;
        animation: text 5s 1;
    }

/***************  верхняя панель  ***************/
.intro_bar
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        width: 100%;
        height: 9%;
        top: 0px;
        position: fixed;
        z-index: 100;
        transition: top 0.6s;
    }

/***************  регистрация  ***************/
.intro_login
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 4%;
        height: 100%;
        margin-left: 13px;
        cursor: pointer;
        position: absolute;
        z-index: 2;
    }

.login
    {
        color: #151515;
        opacity: 100%;
        font-size: 25px;
        letter-spacing: 1.5px;
        animation: text 5s 1;
    }

.login a
    {
        text-decoration: none;
        color: #151515;
        font-size: 25px;
        letter-spacing: 1.5px;
        animation: text 5s 1;
    }

.intro_login:before
    {
        content: '';
        position: absolute;
        right: 20%;
        left: 20%;
        bottom: 19px;
        border-bottom: 2px solid #151515;
        transition: 1s;
        transform: scaleX(0);
    }

.intro_login:hover:before
    {
        transform: scale(1);
    }

/***************  навигация  ***************/
.intro_navigation
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        padding-left: 100px;
        padding-right: 100px;
        position: absolute;
    }

.intro_navigation ul
    {
        padding-inline-start: 0px;
        text-align: center;
    }

.intro_navigation ul li
    {
        list-style: none;
        display: inline-block;
        margin: 5px 15px;
        position: relative;
    }

.intro_navigation ul li a
    {
        text-decoration: none;
        color: #151515;
        font-size: 25px;
        letter-spacing: 1.5px;
        animation: text 5s 1;
    }

.intro_navigation ul li:before 
    {
        content: '';
        position: absolute;
        right: 15%;
        left: 15%;
        bottom: -5px;
        border-bottom: 2px solid #151515;
        transition: 1s;
        transform: scaleX(0);
    }

.intro_navigation ul li:hover:before
    {
        transform: scale(1);
    }

/***************  поиск  ***************/
.intro_search
    {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 3%;
        height: 100%;
        top: 0px;
        right: 0px;
        margin-right: 13px;
        position: absolute;
    }

.search_box
    {
        width: fit-content;
        height: fit-content;
        padding-right: 20px;
        position: absolute;
    }

.input_search
    {
        width: 4px;
        height: 45px;
        border-style: none;
        outline: none;
        color: #151515;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0);
        transition: all .5s ease-in-out;
        border-bottom: 2px solid #151515;
        animation: text 6s 1;
    }

.input_search::placeholder
    {
        color: var(--color_border);
        font-size: 20px;
        font-weight: 50;
        letter-spacing: 1.5px;
    }

.btn_search
    {
        width: 45px;
        height: 45px;
        right: 0px;
        border-style: none;
        outline: none;
        border-radius: 50%;
        cursor: pointer;
        pointer-events: painted;
        color: #151515;
        background-color: rgba(255, 255, 255, 0);
        border: 2.5px solid;
        opacity: 100%;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        animation: text 5s 1;
    }

.btn_search:focus ~ .input_search
    {
        width: 250px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 2px solid #151515;
    }

.input_search:focus
    {
        width: 250px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 2px solid #151515;
    }

/***************  содержание  ***************/  
.intro_contacts
    {
        display: grid;
        grid-template-columns: 33% 33% 34%;
        justify-content: start;
        align-items: start;
        width: 95%;
        height: 20%;
    }

.title_contacts
    {
        padding-right: 30px;
        color: #151515;
        opacity: 100%;
        font-size: 25px;
        animation: text 5s 1;
        letter-spacing: 1.2;
    }

.title_contacts p
    {
        font-weight: lighter;
        font-size: 22px;
    }

/***************  анимация  ***************/
@keyframes text
    {
        0%
            {
                opacity: 0%;
            }
    }

@keyframes body
    {
        0%
            {
                background-color: #ffffff;
            }
    }