{% load static %}
<html lang="en" dir="ltr">
    <head>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel = "stylesheet" type="text/css" href = "{% static 'rooms/media/css/old_hermitage.css' %}">
            <title> Old Hermitage </title>
    </head>
    
    <body>
        <div class = "intro">

            <div class = "intro_title">
                <span class = "title">
                    OLD HERMITAGE
                </span>
            </div>

            <div class = "intro_bar">

                <!-- регистрация -->
                <div class = "intro_login">
                    <span class = "login">
                        Login
                    </span>                    
                </div>

                <!-- навигация -->
                <div class = "intro_navigation">
                    <ul>
                        <li> <a href = "#" > Winter Palace </a> </li>
                        <li> <a href = "#" > New Hermitage </a> </li>
                        <li> <a href = "#" > Old Hermitage </a> </li>
                        <li> <a href = "#" > About </a> </li>
                        <li> <a href = "#" > Contacts </a> </li>
                    </ul>
                </div>

                <!-- поиск -->
                <div class = "intro_search">
                    <div class = "search_box">
                        <button class = "btn_search"></button>
                        <input class = "input_search" placeholder = " Type to search...">
                    </div>
                </div>

                <div id = "arrow"> <br> SCROLL <br> </div>
            </div>

            <div class = "img-slider">
                <div class = "slide active">
                    <img src = "{% static 'rooms/media/old_hermitage/slide_1.jpg' %}" alt="">
                    <div class = "info">
                        <span class = "title_soon">
                            SOON The Sculptural Figure Of A Bull
                            <p>
                                The sculptural figures of bulls are important archeological finds that date back to the early fourth millennium B.C. They are made
                                of gold, approximately 10-inches tall, and were discovered in tombs belonging to kings of the Minoan civilization, which ruled over
                                the region. Since its discovery, they have been studied and analyzed by archeologists, who believe that these figures may have
                                served as objects of worship or symbols of fertility for ancient people.
                            </p>

                        </span>
                    </div>

                </div>
                <div class = "slide">
                    <img src = "{% static 'rooms/media/old_hermitage/slide_2.jpg' %}" alt="">
                    <div class = "info">
                        <span class = "title_soon">
                            SOON The Stamped Deer Plate
                            <p>
                                The stamped deer plate is a gold-made artefact discovered during archeological digs in the end of 7th c. BC. It measures
                                approximately 30 cm in diameter and was likely used in religious ceremonies. Today, the plate is displayed in museums and is
                                considered a valuable and rare piece of history.
                            </p>
                        </span>
                    </div>
                </div>
                <div class = "slide">
                    <img src = "{% static 'rooms/media/old_hermitage/slide_3.jpg' %}" alt="">
                    <div class = "info">
                        <span class = "title_soon">
                            SOON The Stamped Panther Plate
                            <p>
                                The stamped panther plate was found during excavations in 7th-century BC in the area of modern-day Turkey. It was made of gold and
                                enamel, with amber inlays. The artefact was believed to have been used as a sacred object in ancient times, possibly as a part of
                                religious rituals. The stamped panther artefacts were found in the tombs of the wealthy and powerful in ancient Mesopotamia.
                            </p>
            
                            <p>
                                Today, these artefacts are preserved in archaeological museums around the world, where they continue to fascinate scholars and
                                the general public alike.
                            </p>
                        </span>
                    </div>
                </div>
                
                <div class = "navigation">
                    <div class = "btn active"></div>
                    <div class = "btn"></div>
                    <div class = "btn"></div>
                </div>
            </div>
            
        </div>

        <section>
            <div class = "shadow"></div>

                <div class = "container">
                    <div class = "card_1">

                        <div class = "card_1_info info_1">
                            <span class = "info_text"> OTHER WORKS: Sarpedon Krater </span>

                            <div class = "info_image_1">
                                <img src = "{% static 'rooms/media/old_hermitage/card_1_1.jpg' %}" alt="">
                            </div>
                        </div>

                        <img src = "{% static 'rooms/media/old_hermitage/card_1.jpg' %}" class = "card_1_img" alt="">
                        
                        <div class = "grey_for_img_card_1"></div>
                        <div class = "grey_for_text_card_1"></div>
                        
                        <div class = "card_1_content">
                            EUPHRONIA’S PSYCTER
                            <div class = "card_1_line"></div>

                            <p>
                                The Attic red-figure psykter of the strict work style of Euphronius, featuring four hetaerae, is a clay-made historical artefact
                                dating back to the 6th to 4th centuries BC. It was found in an Athenian temple and is now housed at the Old Hermitage in
                                St. Petersburg.
                            </p>
                        </div>
                    </div>

                    <div class = "card_2">
                        <img src = "{% static 'rooms/media/old_hermitage/card_2.jpg' %}" class = "card_1_img" alt="">

                        <div class = "grey_for_img_card_2"></div>
                        <div class = "grey_for_text_card_2"></div>

                        <div class = "card_2_content">
                            PIONEER'S PELIK 
                            <div class = "card_2_line"></div>

                            <p>
                                The attic red-figured pellica is a clay artefact that dates back to the start of the fifth century BC. The artwork depicts a man,
                                a boy, and another boy looking up towards a bird.
                            </p>
                        </div>
                    </div>

                    <div class = "card_3">

                        <div class = "card_3_info info_1">
                            <span class = "info_text"> RELATED: Zeus and Antiope </span>

                            <div class = "info_image_3">
                                <img src = "{% static 'rooms/media/old_hermitage/card_3_1.jpg' %}" alt="">
                            </div>
                        </div>

                        <img src = "{% static 'rooms/media/old_hermitage/card_3.jpg' %}" class = "card_1_img" alt="">
                        
                        <div class = "grey_for_img_card_3"></div>
                        <div class = "grey_for_text_card_3"></div>
                        
                        <div class = "card_3_content">
                            LEAGRA’S HYDRIA
                            <div class = "card_3_line"></div>

                            <p>
                                The Attic Red Figure Hydria, or vase, is a famous artwork that depicts the funeral procession of the hero Hector.
                                The vase was decorated by Greek artists during the Archaic Era and is made out of clay.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <script src = "{% static 'rooms/media/js/old_hermitage.js' %}"></script>
    </body>
</html>
      