*
    {
        box-sizing: border-box;
    }

body
    {
        margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 17px;
        background-color: rgba(0, 0, 0, 0.643);
        background-size: cover;
    }

.intro
    {
        max-height: 100vh;
        overflow: hidden;
        position: relative;
    }

.intro_video
    {
        position: relative;
        padding-bottom: 56.25%;
        filter: brightness(65%);
        z-index: 1; /*чтобы видео всегда было сзади*/
    }

.video_media
    {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

.intro_content
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        text-align: center;
        z-index: 3;
    }

.container 
    {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

.title
    {
        margin: 0;
        font-size: 50px;
        color: #fff;
        text-align: center;
        animation: text 4s 1;
    }

.line_where
    {
        position: relative;
        left: 80px;
    }

.line
    {
        position: absolute;
        left: 30%;
        height: 0px;
        width: 1px;
        border-bottom:2px solid #fff;
        
        -webkit-animation: increase 4s;
        -moz-animation:    increase 4s; 
        -o-animation:      increase 4s; 
        animation:         increase 4s; 
        animation-fill-mode: forwards;
    }

@keyframes text
    {
        0%
            {
                color: #253440;
            }
    }

@keyframes increase
    {
        100%
            {
                width: 450px;
            }
    }