{% load static %}
<html>
    <head>
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <link rel = "stylesheet" type="text/css" href = "{% static 'rooms/media/css/login.css' %}">
        <title> Login </title>
    </head>

    <body>
        <section>
            
        <div class = "image">
            <img src = "{% static 'rooms/media/login/login_image.jpg' %}">
        </div>

            <div class = "container">

                <!-- заголовок -->
                <span class = "title">
                    Login
                </span>
                
                <!-- форма входа -->
                <div class = "forma">
                    <form method="post">
                        {% csrf_token %}

                        <small> {{ form.non_field_errors }} </small>
                        
                            <div class = "input_bx">
                                <label for="{{ form.username.id_for_label }}"> Name: </label>
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>

                            <div class = "input_bx">
                                <label for="{{ form.password.id_for_label }}"> Password: </label>
                                {{ form.password }}
                                {{ form.password.errors }}
                                
                            </div>

                            <!-- кнопки входа и регистрации -->
                            <div class = "in_or_reg_wrapper">
                                <div class = "in">
                                    <button type = "submit"> Log In </button>
                                </div>
                                
                                <div class = "reg">
                                    <button onclick = "location.href='/signup'" type = "button"> Sign Up </button>
                                </div>
                            </div>
                    </form>
                </div>

            </div>
        </section>
    </body>
</html>